extends layout

block content

  div.col-1

    #map

  div.col-2

    div.form-row
    
    div.form-row
      label(for='device') Device
      select(id='device')
        option(value="automatic") Automatic
        option(value="dash") Dash
    
    div.form-row
      label(for='event') Event
      select(id='event')
        option(value="ignition-on") Ignition: On
        option(value="ignition-off") Ignition: Off
        option(value="mil") Check Engine: On
    
    div.form-row
      label(for='endpoint') Endpoint
      input(type='text' id='endpoint')

    div.form-row
      label(for='vehicleId') Vehicle Id
      input(type='text' id='vehicleId')

    div.form-row
      label(for='userId') User Id
      input(type='text' id='userId')

    div.form-row
      label(for='lat') Latitude
      input(type='text' id='lat')
      
    div.form-row
      label(for='lon') Longitude
      input(type='text' id='lon')

    div.form-row
      button(onclick='processForm()') Send Webhook

    div.msg(style='display:none') 

  script.
    window.$ = window.jQuery;
    var map;
    var markers = [];

    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: 40.71, lng: -73.94},
        zoom: 13,
        styles: [
          {
            "featureType": "poi",
            "stylers": [
              { "visibility": "off" }
            ]
          }
        ]
        }); 
      map.addListener('click', function(e) {
        placeMarkerAndPanTo(e.latLng, map);
      });      
    }

    function placeMarkerAndPanTo(latLng, map) {
      deleteMarkers();
      var marker = new google.maps.Marker({
        position: latLng,
        map: map
      });
      markers.push(marker);
      map.panTo(latLng);
      populateForm();
    }
    
    function setMapOnAll(map) {
      for (var i = 0; i < markers.length; i++) {
        markers[i].setMap(map);
      }
    }

    function clearMarkers() {
      setMapOnAll(null);
    }

    function deleteMarkers() {
      clearMarkers();
      markers = [];
    }

    function populateForm() {
      $('#lat').val(markers[0].position.lat());
      $('#lon').val(markers[0].position.lng());
    }

    function processForm() {
      $.post(
        '/simulate_webhook',
        {
          device: $('#device').val(),
          event: $('#event').val(),
          endpoint: $('#endpoint').val(),
          vehicleId: $('#vehicleId').val(),
          userId: $('#userId').val(),
          lat: $('#lat').val(),
          lon: $('#lon').val(),

        }
      )
      .done(function(response) {
        $('.msg').removeClass('warn').addClass('success').text(response.message).show()
      })
      .fail(function(jqhxr, textStatus, error) {
        $('.msg').removeClass('success').addClass('warn').text(error ? error : textStatus).show()
      })
      .always(function() {
        setTimeout( function() { $('.msg').fadeOut() }, 2000);
      });
    }


  script(src='https://maps.googleapis.com/maps/api/js?key='+process.env.GOOGLE_MAPS_API_KEY+'&callback=initMap')
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")

