body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.btn-group .btn:not(:first-child) {
	margin-left: 10px;
}

.btn img {
	width: 300px;
}

#map {
	width: 100%;
	height: 500px;
	margin: 20px auto;
}


label {
	margin-right:6px;
}

.form-row {
	margin-bottom: 0.8em;
}