body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.btn-group .btn:not(:first-child) {
	margin-left: 10px;
}

.btn img {
	width: 300px;
}

#map {
	width: 100%;
	height: 500px;
	margin: 20px auto;
}


label {
	margin-right:6px;
}

.form-row {
	margin-bottom: 0.8em;
}

.msg {
	background-color: #FFF;
	margin: 1em 0;
	padding: 0.4em;
}
.msg:before {
	content: '>';
}

.msg.warn {
	color: #EF3333;
}

.msg.success {
	color: #3333EF;
}

.col-1 {
	float: left;
	width: 60%;
}

.col-2 {
	float: left;
	width: 35%;
	margin-left: 40px;
}
